h1{
    color: darksalmon;
    text-align: center;
    font-family: cursive;
    font-size: 32pt;
}
body{
    background-color: antiquewhite;
}
.describe{
    text-align: center;
    color: lightpink;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: rgb(165, 104, 104);
}
#about{
    background-color: bisque;
}