h1{
    color: darksalmon;
    text-align: center;
    font-family: cursive;
    font-size: 32pt;
}
body{
    background-color: antiquewhite;
}
p{
    text-align: center;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}